<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" th:rel="stylesheet" th:href="@{/css/allcss.css}">
	<title>Calculadora :)</title>
</head>

</style>
<body>
	
<div id="calculadora">
	<div id="resul" th:text="${op.resul}"></div>
	<div id="botones">
		<a th href="" >1</a><a href="">2</a><a href="">3</a>
		<a href="">+</a><a href="">4</a>
		<a href="">5</a><a href="">6</a>
		<a href="">-</a><a href="">7</a><a href="">8</a>
		<a href="">9</a><a href="">*</a>
		<a href="">/</a>
		<a href="">0</a> <a style="background-color: rgb(246, 92, 92);" href="">D</a><a style="background-color: rgb(85, 85, 239);" href="">=</a>
	</div>
</div>

</body>

</html>